@import './prism.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000000;
  background-color: #fcfcfc;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
